@model List<TripPlanner.Core.Entities.Destination>

<html>
<head>
    <title>Destination Manager</title>
</head>
<body>
    <h1>Destination Manager</h1>
    <div>
        <a asp-action="Add" class="btn btn-primary">Add New Destination</a>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>City.</th>
                <th>State/Province</th>
                <th>Country</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var destination in Model)
            {
            <tr>
                <td>@destination.DestinationID</td>
                <td>@destination.City</td>
                <td>@destination.StateProvince</td>
                <td>@destination.Country</td>
                <td>
                    <a class="btn btn-primary" asp-controller="Destinations" asp-action="Edit" asp-route-id="@destination.DestinationID">Edit</a> |
                    <a class="btn btn-danger" asp-controller="Destinations" asp-action="Remove" asp-route-id="@destination.DestinationID">Remove</a>

                </td>
            </tr>
            }
        </tbody>
    </table>
</body>
</html>
